@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebeae9;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebeae9;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Cardo, serif;
}
